/*MAIN*/
main {
    margin-top: 100px;
}

.main-bg {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url('../img/background/Designer.jpeg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
}

.main-content {
    max-width: 500px;
    padding: 40px 20px;
    text-align: left;
}

.bis {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 80px 0 20px 0;
    transform: translateX(-200%); /* Sai pela esquerda */
    animation: slideIn 0.8s ease-out forwards;
    animation-delay: 0s; /* Atraso para a primeira animação */
}

.main-content h1 {
    margin-bottom: 20px;
    transform: translateX(-200%); /* Sai pela esquerda */
    animation: slideIn 1.2s ease-out forwards;
    animation-delay: 0.3s; /* Atraso para o h1 */
}

.main-content p {
    margin-bottom: 50px;
    transform: translateX(-200%); /* Sai pela esquerda */
    animation: slideIn 1.5s ease-out forwards;
    animation-delay: 0.6s; /* Atraso para o parágrafo */
}

.btn-main-content {
    background-color: var(--cor-3);
    padding: 10px 30px;
    border-radius: 5px; 
}

.btn-main-content:hover {
    background-color: var(--cor-4);
}

.btn-slide {
    transform: translateX(-100%);
    animation: slideIn 1.5s ease-out forwards;
    animation-delay: 0.9s; /* Atraso para o botão */
}



@keyframes slideIn {
    to {
        transform: translateX(0); /* Volta ao lugar original */
    }
}
/*******/

/*SERVIÇOS*/
.service-container {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}

.service-container h1{
    padding: 10px 0 70px 0;
}

.box-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

.box-container h3 {
    padding-bottom: 15px;
}

.service-box {
    width: 22%;
    border: 1px solid var(--cor-3);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 250px;
    perspective: 1000px;
    transform: translateX(-100px);
    transition: transform 5s ease, opacity 2s ease, transform 0.3s ease;
    animation-delay: 2s;
}

.service-box.visible { 
    transform: translateX(0); 
}

.service-box:hover {
    transform: scale(1.2); /* Aumenta o tamanho em 20% */
    background-color: var(--cor-2);
}


.service-box img {
    transition: transform 0.3s ease;
    transform-origin: center;

}

.service-box:hover img {
    transform: rotateY(360deg);
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
      transform: rotateY(0deg); /* Início da rotação */
    }
    100% {
      transform: rotateY(360deg); /* Completa um giro */
    }
}


.box-1, .box-3 {
    margin-top: -20px; /* Levanta a caixa 1 e 3 para cima */
}

.box-2, .box-4 {
    margin-top: 20px; /* Baixa a caixa 2 e 4 para baixo */
}

.icon-service {
    width: 50px;
    padding-bottom: 10px;
}


/*TurnKey*/
.turnkey-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 20px;
}

.turnkey-mobile {
    display: none;
}

.turnkey-desktop h2 {
    margin-bottom: 20px;
}

.turnkey-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza as caixas horizontalmente */
    gap: 20px; /* Espaçamento entre as caixas */
    max-width: 1200px;
    width: 100%;
    padding: 20px;
}

.turnkey-box {
    position: relative; /* Necessário para o controle do texto com hover */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 300px;
    width: 100%;
    padding: 20px;
    overflow: hidden; /* Esconde o texto inicialmente */
    transition: transform 0.3s ease;
    cursor: pointer;
    background-color: var(--cor-2);
    border-radius: 10px;
}

.arrow-icon {
    position: absolute;
    top: 10px; /* Posiciona no canto superior */
    right: 10px; /* Alinha à direita */
    font-size: 18px;
    color: var(--cor-3); /* Cor da seta (adapte ao design do site) */
    opacity: 1; /* Oculta a seta inicialmente */
    transition: opacity 0.3s ease;
}

.arrow-icon img {
    width: 30px;
}

@keyframes bounce {
    0% {
        transform: translateY(0) rotate(180deg); /* Inicialmente sem rotação */
    }
    50% {
        transform: translateY(-5px) rotate(180deg); /* Meio do movimento com rotação de 90 graus */
    }
    100% {
        transform: translateY(0) rotate(180deg); /* Final com rotação completa */
    }
}

.turnkey-box:hover .arrow-icon {
    animation: bounce 0.5s infinite;
}

.turnkey-box:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
}

.icon-turnkey {
    width: 50px;
    margin-bottom: 15px;
}

.turnkey-box h3 {
    margin-bottom: 10px;
}

.turnkey-box p {
    opacity: 0; 
    max-height: 0; 
    overflow: hidden; 
    transition: opacity 0.3s ease, max-height 0.3s ease; 
}

.turnkey-box:hover p {
    opacity: 1; 
    max-height: 300px; 
    margin-top: 10px; 
}
/************/

/*Descrição Empresa*/
.description-bg {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url('../img/background/vecteezy_red-circuit-board-wallpaper-digital-technology-background_20146311-1.jpg');
    background-size: cover;
    background-position: center;
    padding: 10px 0;
}

.description-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.carousel-container {
    width: 100%;
    max-width: 600px;
    height: 400px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.carousel {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    border-radius: 10px;
}

.carousel img.active {
    opacity: 1;
}

.description-company {
    flex: 2;
}

.description-company h2 {
    padding: 0 0 20px 0;
}

.description-company p {
    padding-bottom: 10px;
}

.description-items {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.description-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.description-icon {
    width: 30px;
}

.description-item h4 {
    padding-left: 5px;
}
/*******************/

/*Missão*/
.mission-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.mission-container h2 {
    padding-bottom: 30px;
}

.mission {
    display: flex;
    margin-top: 100px;
}

.mission-description {
    background-color: var(--cor-2);
    border-radius: 8px;
    padding: 30px;
    width: 600px;
    margin-right: -200px;
    z-index: 1;
}

.mission-description ul li {
    padding-top: 15px;
}

.mission-img {
    width: 650px;
    z-index: 0;
}

.mission-img img {
    border-radius: 8px;
    margin-top: -100px;
}

/*************/


/*Clientes*/
.client-container {
    text-align: center;
    margin: 10px 0 50px 0;
}

.client-container h2 {
    padding: 30px 0;
}

.clients {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.clients a {
    transition: transform 0.3s ease;
}

.clients a:hover {
    transform: scale(1.1); 
}

.clients img {
    max-width: 100%;
    height: auto;
    width: 200px;
    border-radius: 8px;
    box-shadow: 0 3px 3px var(--cor-3);
}
/*************/

/*Contato*/
.contact-bg {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url('../img/background/vecteezy_red-circuit-board-wallpaper-digital-technology-background_20146311-1.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding: 40px 0; 
}

.contact-container {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
}

.contact-content {
    display: flex;
    flex-direction: column;
    flex: 1; 
    padding: 20px; 
}

.contact-content h2 {
    padding-top: 20px;
}


.contact-info {
    margin-top: 30px; 
}

.info-item {
    display: flex;
    align-items: center; 
    margin-bottom: 20px;
}

.icon-contact {
    width: 30px;
    margin-right: 10px; 
}

/**************/

.location {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  
  .location h4 {
    margin: 10px 0 30px 0;
  }

/*RESPONSIVIDADE*/
@media (max-width: 1200px) {
    main {
        margin-top: 80px;
    }

    .main-content {
        max-width: 500px;
        padding: 20px 20px;
    }
}

/*Mobile*/
@media (max-width: 700px) {
    /*Main*/
    .main-bg {
        background-position: center;
        background-attachment: scroll;
        height: 50vh;
    }

    .main-content {
        max-width: 320px;
        padding: 50px 0px 10px 0px;
        text-align: left;
    }
    
    .bis {
        margin: 20px 0 5px 0;
    }
    
    .main-content h1 {
        margin-bottom: 10px;
    }
    
    .main-content p {
        margin-bottom: 30px;
    }

    /*Serviços*/
    .service-container {
        position: relative;
        overflow: hidden; /* Esconde as boxes que não estão visíveis */
        width: 100%; /* Largura total do container */
    }

    .service-container h1 {
        padding-bottom: 20px;
    }
    
    .box-container {
        display: flex; 
        flex-wrap: nowrap;
        transition: transform 0.5s ease; 
        width: 100%; 
        margin-bottom: 10px;
    }
    
    .service-box {
        min-width: 100%; 
        box-sizing: border-box; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        transform: translateX(0);
    }

    .indicators {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 15px;
    }
    
    .indicator {
        width: 10px;
        height: 10px;
        background-color: #ccc;
        border-radius: 50%;
        cursor: pointer;
    }
    
    .indicator.active {
        background-color: #ff3333;
    }

    .service-box:hover {
        transform: scale(1); /* Aumenta o tamanho em 20% */
        background-color: var(--cor-2);
    }

    .service-box img {
        transform: rotateY(360deg);
        animation: spin 5s linear infinite;
    }

    .box-1, .box-2, .box-3, .box-4 {
        margin-top: 0;
    }

    .icon-service {
        width: 55px;
        padding-bottom: 20px;
    }

    /*Turnkey*/
    .turnkey-desktop {
        display: none;
    }
    
    .turnkey-mobile {
        display: block;
        margin-top: 60px;
        text-align: center;
    }
    
    .turnkey-container-mobile {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }
    
    .turnkey-box-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 20px;
        border-radius: 8px;
        text-align: center;
        transition: box-shadow 0.3s ease;
        background-color: var(--cor-2);
    }
    
    .turnkey-box-mobile:hover {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        transform: scale(1);
    }
    
    .icon-turnkey-mobile {
        width: 64px;
        height: 64px;
        margin-bottom: 10px;
    }
    
    .turnkey-description-mobile {
        display: none;
        margin-top: 10px;
        color: var(--cor-0);
    }
    
    .turnkey-box-mobile.expanded .turnkey-description-mobile {
        display: block;
    }
    
    .btn-saiba-mais-mobile {
        display: none;
        margin-top: 20px;
        padding: 10px 15px;
        background-color: var(--cor-3);
        color: var(--cor-0);
        font-size: 14px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .btn-saiba-mais-mobile:hover {
        background-color: var(--cor-1);
    }
    
    .turnkey-box-mobile.expanded .btn-saiba-mais-mobile {
        display: inline-block;
    }
    
    .arrow-icon-mobile {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        transition: transform 0.3s ease;
    }
    
    
    @keyframes bounce-rotate {
        0% {
            transform: translateY(0) rotate(180deg); /* Inicialmente sem rotação */
        }
        50% {
            transform: translateY(-5px) rotate(180deg); /* Meio do movimento com rotação de 90 graus */
        }
        100% {
            transform: translateY(0) rotate(180deg); /* Final com rotação completa */
        }
    }

    .turnkey-box-mobile.expanded .arrow-icon-mobile img {
        animation: bounce-rotate 0.5s infinite;
    }
    /*Descrição Empresa*/
    .description-bg {
        background-position: right;
        padding: 0;
    }
    
    .description-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0px;
    }
    
    .carousel-container {
        height: 350px;
        order: 2; /* Define a ordem para o carousel-container como 2 */
    }

    .carousel {
        margin-top: 15px;
    }
 
    .description-company {
        order: 1; /* Define a ordem para description-company como 1 */
    }
    
    .description-items {
        order: 1; /* Se desejar que description-items fique na mesma ordem que description-company */
    }

    .carousel img {
        width: 400px;
        height: 300px;
    }

    .description-company h2 {
        padding: 0 0 10px 0;
    }
    
    .description-company p {
        padding-bottom: 5px;
    }
    
    .description-items {
        margin: 10px 0;
    }
    
    .description-item {
        padding: 8px 0;
    }

    .description-icon {
        width: 20px;
    }

    /*Missão*/
    .mission-bg {
        height: auto;
        background-position: center;
        background-attachment: scroll;
    }

    /*Clientes*/
    .clients img {
        max-width: 100%;
        height: auto;
        width: 120px;
        border-radius: 8px;
        box-shadow: 0 3px 3px var(--cor-3);
    }

    /*Contato*/
    .form-content {
        display: none;
    }

}