.pg-aboutus-bg {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url('../img/background/vecteezy_red-circuit-board-wallpaper-digital-technology-background_20146311-1.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 25vh;
}


.pg-aboutus-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pg-aboutus-title span {
    margin-top: 60px;
}

.pg-aboutus-title h1 {
    padding-top: 10px;
}

/*VALORES*/
.value-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-2);
    border-radius: 8px;
    padding: 20px;
}

.value-container h2 {
    padding-bottom: 30px;
}

.value-container ul li {
    padding-top: 10px;
}

.value-call {
    padding-bottom: 20px;
}

.value-end {
    padding-top: 30px;
}
/*******************/

/*Politica*/
.politic-container {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    position: relative;
    gap: 20px; 
    margin: 50px 0;
}

.politic-img {
    flex: 1; 
    position: relative; 
    overflow: hidden; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.politic-img img {
    width: 100%; 
    height: auto; 
    object-fit: cover; /
}

.politic-description {
    flex: 1.5; 
    padding: 20px; 
    background-color: var(--cor-2);
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    position: relative;
    z-index: 2; 
}

.politic-description h2 {
    margin-bottom: 15px; 
}

/* Estilo da Lista */
.politic-description li {
    line-height: 1.5; /* Altura das linhas para melhor leitura */
    margin-bottom: 10px; /* Espaçamento entre os itens */
    position: relative; /* Para adicionar um ícone */
    padding-left: 20px; /* Espaço à esquerda para o ícone */
}

.politic-description li::before {
    content: '✓'; 
    position: absolute;
    left: 0;
    color: var(--cor-3); 
    font-weight: bold;
}

/***********************/
@media (max-width: 500px) {
    .mission-bg-filter {
        padding: 20px 0px;
    }

    .pg-aboutus-bg {
        height: 13vh;
        width: 100%;
    }

    .pg-aboutus-title span {
        margin-top: 30px;
    }

    .politc-container {
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;
    }

    .politc-container ul {
        padding: 15px 0;
        width: 100%;
    }
    
    .politc-container ul li {
        margin: 0 15px;
    }
}
