.pg-service-bg {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url('../img/background/vecteezy_red-circuit-board-wallpaper-digital-technology-background_20146311-1.jpg');
    background-size: cover;
    background-position: center;
    height: 25vh;
}

.pg-service-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pg-service-title span {
    margin-top: 60px;
}

.pg-service-title h1 {
    padding-top: 10px;
}

.pg-service-box-1 {
    transform: translateX(-100vh); /* Sai pela esquerda */
    animation: slideIn 1.5s ease-out forwards;
    animation-delay: 0.4s; /* Atraso para o parágrafo */
}

.pg-service-box-2 {
    transform: translateX(-100vh); /* Sai pela esquerda */
    animation: slideIn 1.5s ease-out forwards;
    animation-delay: 0.3s; /* Atraso para o parágrafo */
}

.pg-service-box-3 {
    transform: translateX(-100vh); /* Sai pela esquerda */
    animation: slideIn 1.5s ease-out forwards;
    animation-delay: 0.2s; /* Atraso para o parágrafo */
}

.pg-service-box-4 {
    transform: translateX(-100vh); /* Sai pela esquerda */
    animation: slideIn 1.5s ease-out forwards;
    animation-delay: 0.1s; /* Atraso para o parágrafo */
}

.pg-service-box-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 50px;
}

.pg-service-box {
    background-color: var(--cor-2);
    padding: 20px;
    border-radius: 10px;
    width: 25%;
}

.pg-service-box h3 {
    padding-bottom: 20px;
}
/***************************/

#turnkey {
    margin-top: 80px;
}

.pg-service-turnkey {
    text-align: center;
    margin-bottom: 30px;
}

.pg-service-turnkey h2 {
    padding-bottom: 20px;
}

.pg-service-turnkey-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

.pg-service-turnkey-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--cor-2);
    padding: 20px;
    border-radius: 10px;
}

.pg-service-turnkey-box h3 {
    padding: 20px 0;
}


@media (max-width: 500px) {
    .pg-service-bg {
        height: 13vh;
    }

    .pg-service-title span {
        margin-top: 30px;
    }

    .pg-service-box-container {
        display: block;
    }

    .pg-service-box {
        width: auto;
        margin-bottom: 10px;
    }


    .pg-service-turnkey-itens {
        display: block;
        padding-top: 20px;
    }


    .pg-service-turnkey-box {
        padding: 15px;
    }

}